* {
    box-sizing: border-box;
}

html {
    margin: 0px;
    height: 100%;
 }

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #282c34;
    margin: 0px;
    min-height: 100%;
    color: white;
}

#links-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.link-btn {
    color: white;
    text-decoration: none;
    margin: 10px;
    border: 1px solid white;
    border-radius: 5px;
    padding: 15px;
}

.link-btn:hover {
    color: #282c34;
    background-color: white;
}

a {
    color: white;
}

p {
    text-align: center;
}