.tooltip {	
    position: absolute;			
    text-align: center;			
    width: 140px;					
    height: auto;					
    padding: 10px;				
    font: 12px sans-serif;		
    background: black;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}

.county:hover {
    stroke: black;
    stroke-width: 1;
}

#choropleth-map {
    width: 100%;
    height: auto;
}