.tile-text {
    cursor: default;
    font-size: 14px;
}

.treemap-container {
    display: flex;
}

.tooltip {	
    position: absolute;			
    text-align: center;			
    width: 140px;					
    height: auto;					
    padding: 10px;				
    font: 12px sans-serif;		
    background: black;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}