.legend-text {
    fill: white;
}

.dot {
    stroke: #000;
}

.tooltip {	
    position: absolute;			
    text-align: center;			
    width: 200px;					
    height: auto;					
    padding: 10px;				
    font: 12px sans-serif;		
    background: black;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}

.doping-true {
    fill: #F26419;
    stroke: #000;
}

.doping-false {
    fill: #316993;
    stroke: #000;
}